/* .container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 24px;
  color: #f0ece2;
} */

/* .imgDiv {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.workInProgress {
  width: 400px;
  height: 200px;
  display: flex;
  align-self: center;

}

@media (max-width: 500px) {
  .workInProgress {
    width: 350px;
    height: 200px;
  }
} */
